@model JadeWebApp.Models.Job

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
@if (ViewBag.AllowDelete){
    <h3>¿Estás seguro que deseas eliminar el puesto?</h3>
}
else{
    <h3 class="text-danger">No se puede eliminar. El puesto de trabajo tiene empleados relacionados.</h3>
}
<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (ViewBag.AllowDelete) {
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        }
        |<a asp-action="Index">Back to List</a>
    </form>
</div>
